{% extends "base.html" %}

{% block content %}
    <div class="container mx-auto p-8">
        <div class="flex justify-between items-center mb-6">
            <h1 class="text-2xl font-semibold">Cart List</h1>
        </div>
        <table class="min-w-full bg-gray-200 rounded-lg">
            <thead>
            <tr class="text-left text-gray-600">
                <th class="py-3 px-4">ID</th>
                <th class="py-3 px-4">Customer</th>
                <th class="py-3 px-4">Product</th>
                <th class="py-3 px-4">Quantity</th>
                <th class="py-3 px-4">Price</th>
            </tr>
            </thead>
            <tbody>
            {% for cart in carts %}
                <tr class="border-b border-gray-300 hover:bg-gray-300">
                    <td class="py-3 px-4">{{ cart['id'] }}</td>
                    <td class="py-3 px-4">{{ cart['customer'] }}</td>
                    <td class="py-3 px-4">{{ cart['product'] }}</td>
                    <td class="py-3 px-4">{{ cart['quantity'] }}</td>
                    <td class="py-3 px-4">${{ cart['price'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}